@model CatDaze.Models.Image
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm("Create", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="form-group">
        @Html.LabelFor(x => x.ImageName)
        @Html.TextBoxFor(x => x.ImageName, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.ImageName)
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.ImageCaption)
        @Html.TextBoxFor(x => x.ImageCaption, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.ImageCaption)
    </div>

    <div class="form-group">
        <label>Please select and image from your computer:</label>
        <input type="file" name="file" id="file" class="form-control-file" />
    </div>

    <button type="submit">Create</button>
}