@model CatDaze.ViewModels.AdminViewModel

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm("Edit", "Admin"))
{
    <div class="form-group">
        @Html.LabelFor(x => x.Image.ImageName)
        @Html.TextBoxFor(x => x.Image.ImageName, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Image.ImageName)
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.Image.ImageCaption)
        @Html.TextBoxFor(x => x.Image.ImageCaption, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Image.ImageCaption)
    </div>
    @Html.HiddenFor(x => x.Image.Id)

    <button type="submit" class="btn btn-primary">Save</button>
}



